<div class="container pt-5 text-center">
    <h1 class="pt-5 pb-4">Welcome to <span class="text-light">invite.me</span>!</h1>
    <p class="w-75 ml-auto mr-auto mb-3">
        <span class="text-light">invite.me</span> is an event planning application built to provide a <br>
        platform for everyone to easily manage events.
    </p>
    <small>
        To start organizing your event simply click on the button below.
    </small>
    <button class="mr-auto ml-auto mt-5 d-block" (click)="toInviteForm()">
        HOST NEW EVENT
    </button>
</div>
